<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<% if @datosestudiante.blank? %>
  <p>No hay estudiantes registrados en la DB</p>
<% else %>
    <%= link_to "[ Nuevo Estudiante ]", new_student_path %>
    <table border="1">
        <thead>
            <tr>
                <th>Control</th>
                <th>Nombre Estudiante</th>
                <th>Clv Carr.</th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            <% @datosestudiante.each do |varestudiante| %>
                <tr>
                    <td><%= varestudiante.control %></td>
                    <td><%= varestudiante.nombre %></td>
                    <td><%= varestudiante.clave_carrera %></td>
                    <td><!-- student ruta extraida con rake routes, no olvidar agregar _path -->
                        <%= link_to "[ show ]", student_path(varestudiante) %>
                        <!-- Enlace para editar un registro especifico -->
                        <%= link_to "[ Editar ]", edit_student_path(varestudiante) %>
                    </td>
                </tr>
            <% end %>
            
        </tbody>
    </table>

<% end %>