<h1>Carreras Disponibles</h1>

<% if @carrera.blank? %>
  <p>No hay carreras registradas en la DB</p>
<% else %>
    <%= link_to "[ Nueva Carrera]", new_career_path %>
    <table border="1">
        <thead>
            <tr>
                <th>Clave de Carrera</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <% @carrera.each do |carreravar| %>
                <tr>
                    <td><%= carreravar.clave_carrera %></td>
                    <td><%= carreravar.descripcion %></td>
                    <td>
                        <%= link_to "[ mostrar ]", career_path(carreravar) %>
                        <%= link_to "[ Editar ]", edit_career_path(carreravar) %>
                    </td>
                </tr>
            <% end %>
            
        </tbody>
    </table>
<% end %>