<h1>Carreras Disponibles</h1>

<div class="pull-right">
    <%= link_to "Nueva Carrera", new_career_path, class: 'btn btn-primary' %>
    <%= link_to "Descarga XLS", careers_path(format: :xlsx), class: 'btn btn-success'  %>
</div>
<div class="clearfix"></div>

<% if @carrera.blank? %>
  <p>No hay carreras registradas en la DB</p>
<% else %>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Clave de Carrera</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <% @carrera.each do |carreravar| %>
                <tr>
                    <td><%= carreravar.clave_carrera %></td>
                    <td><%= carreravar.descripcion %></td>
                    <td>
                        <%= link_to "[ mostrar ]", career_path(carreravar) %>
                        <%= link_to "[ Editar ]", edit_career_path(carreravar) %>
                        <%= link_to "[ Eliminar ]", 
                            career_path(carreravar), 
                            method: :delete, 
                            data: { confirm: '¿Estas seguro de eliminar este elemento?' } 
                        %>
                    </td>
                </tr>
            <% end %>
            
        </tbody>
    </table>
<% end %>