<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select :student_id, Student.all.map{ |s| [s.nombre, s.id] }, { prompt: '- Seleccionar -' } %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.select :professor_id, Professor.all.map{ |p| [p.nombre, p.id] }, { prompt: '- Seleccionar -' } %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :subject_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
