<h1>Plans#edit</h1>
<p>Find me in app/views/plans/edit.html.erb</p>

<p><%= link_to "Regresar al listado", plans_path %></p>

<%= form_for @planestudio do |planvar| %>
    <p>
        <%=planvar.label "Clave" %>
        <%=planvar.text_field :clave_plan_estudio %>
    </p>
    <p>
        <%=planvar.label :Clave %>
        <%=planvar.text_area :clave_carrera %>
    </p>
     <p>
        <%=planvar.submit "Actualizar Plan de Estudio" %>
    </p>
<% end %>